.img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border: solid 5px white;
    border-radius: 50%;
}

.title {
    font-size: 50px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    color: #833e76;
}

.desc {
    text-align: left;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-right {
    font-size: 50px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    color: #833e76;
}

.desc-right {
    text-align: left;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    font-size: 30px;
}

.project-container {
    height: 80vh;
}