.navlink {
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: #688c7d;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    
}

.navbar {
    background-color: white;
}