.aboutme-container {
    height: 100vh
}

.aboutme {
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    color: #688c7d;
}

.aboutme-desc {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}